/* mulish-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/mulish-v18-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* mulish-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mulish-v18-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* mulish-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/mulish-v18-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Mulish";
    width: 1400px;
    margin: 0 auto;
}

.link {
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    letter-spacing: 0%;
    border: 2px solid rgba(69, 143, 246, 1);
    border-radius: 55px;
    padding: 18px 51px 16px 51px;
    color: #fff;
    background-color: rgba(69, 143, 246, 1);

}

.link--light {
    color: rgba(69, 143, 246, 1);
    background-color: transparent;
}
.link--download{
    padding-right: 68px;
    background:url(../img/download.png) no-repeat 150px  center;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: 0%;
    padding-bottom: 26px;
    margin-bottom: 33px;
    position: relative;
}

.title::after {
    position: absolute;
    width: 56px;
    height: 2px;
    content: '';
    background-color: black;
    bottom: 0;
    left: 0;
}

.title--center {
    text-align: center;
}

.title--center::after {
    left: calc(50% - 28px);
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 35px;
    margin-bottom: 80px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.logo__element {
    display: inline-block;
    width: 41px;
    height: 41px;
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    line-height: 41px;
    letter-spacing: 0%;
    background-color: #458FF6;
    border-radius: 50%;
    color: #fff;
    margin-right: 12px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #233348;
}

.header__nav-item:nth-child(5) {
    margin-right: 0;
}

.header__nav-item:first-child {
    .header__nav-link {
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(31, 21, 52, 1);
    }
}

.header__nav-link {
    color: rgb(31, 21, 52, 0.5);
}

.header__nav-link:hover {
    color: #1f1534;
}

.intro {
    margin-bottom: 111px;
}

.intro__container {
    position: relative;
    background-image: url(../img/illustration.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    padding: 130px 0;
}

.intro__container::before {
    position: absolute;
    width: 131px;
    height: 115px;
    top: 0;
    left: -239px;
    content: '';
    background-image: url(../img/element.png);
}

.intro__content {
    width: 445px;

}

.intro__slogan {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    margin-bottom: 25px;
}

.intro__text {
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0%;
    margin-bottom: 45px;
}

.service {
    margin-bottom: 220px;
    background: url(../img/service-bg.png) no-repeat center left;
    background-size: contain;
}


.service__text {
    text-align: center;
    width: 952px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.service__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 34px;
    width: 1120px;
    position: relative;
}

.service__list::after {
    position: absolute;

}

.service__item {
    width: 350px;
    padding: 166px 45px 47px 35px;
    margin-right: 35px;
    margin-bottom: 35px;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    background-image: url(../img/lupa.png);
    background-repeat: no-repeat;
    background-position-x: 38px;
    background-position-y: 58px;
    background-color: #fff;
}

.service__item:nth-child(2) {
    background-image: url(../img/service-second.png);
}

.service__item:nth-child(3) {
    margin-right: 0;
}

.service__item:nth-child(6) {
    margin-right: 0;
}

.service__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    letter-spacing: 0%;

}

.service__item-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;

}

.product {
    margin-bottom: 22px;
}

.product__list {
    display: flex;
    flex-direction: column;
}

.product__item {
    display: flex;
    margin-bottom: 229px;
    align-items: center;
    justify-content: space-between;
}

.product__item:nth-child(even) {
    flex-direction: row-reverse;
    .product__item-content{
        width: 420px;
    }
}

.product__item-content {
    width: 486px;
}

.product__item-description {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    margin-bottom: 40px;
}